.pageContainer {
  position: relative;

  min-width: 250px;
  min-height: 250px;
  display: inline-block;

  border: 3px solid green;
}

.backgroundImage {
  max-width: 100%;
}

.ContentsContainer {
  position: absolute;
  display: flex;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;

  border: 2px solid purple;
}

.spaceships {
  position: absolute;

  display: flex;
  justify-content: center;

  top: 0;
  left: 20%;
  right: 20%;
  bottom: 80%;

  border: 1px solid orange;
}

.spaceships img {
  /*Good starting size*/
  width: 20%;
}

/*SpaceX*/
#Ship1 {
  position: absolute;
  top: 3%;
  left: 20%;
  right: auto;
  bottom: auto;

  width: 20%;
  height: 70%;
}

/*Soyuz*/
#Ship2 {
  position: absolute;
  top: 3%;
  right: 22%;
  left: auto;
  bottom: auto;

  width: 28%;
  height: 80%;
}

.expeditionMonitors {
  position: absolute;

  display: flex;
  justify-content: center;

  top: 15%;
  left: 18%;
  right: 18%;
  bottom: 60%;

  border: 1px solid greenyellow;
}

.monitor {
  width: 22%;

  /* border: 1px solid aliceblue; */
}

.monitor img {
  width: 100%;
}

#MonitorLeft {
  position: absolute;

  margin-top: -5%;

  left: 0;
}

#MonitorMiddle {
  position: absolute;

  top: 30%;
  left: auto;
  right: auto;

  width: 28%;
}

#MonitorRight {
  position: absolute;

  margin-top: -5%;

  right: 0;
}

.patch {
  position: absolute;

  top: 0;

  /* border: 1px solid blueviolet; */
}

#PatchLeft {
  left: 25%;
  right: 19%;
  top: 25%;
  bottom: 21%;

  transform: rotateY(40deg) skew(-14deg, 14deg) rotateX(-10deg);
}

#PatchMiddle {
  left: 25%;
  right: 23%;
  top: 7%;
  bottom: 10%;

  transform: rotateY(0deg) skew(-0deg, 0deg) rotateX(10deg);
}

#PatchRight {
  left: 20%;
  right: 23%;
  top: 25%;
  bottom: 20%;

  transform: rotateY(-40deg) skew(16deg, -16deg) rotateX(10deg);
}

.carousel {
  position: absolute;

  bottom: 8%;
  left: 8%;
  right: 8%;
  top: 44%;

  border: 1px solid pink;
}

.Cards img {
  width: 100%;
}

.Cards * {
}

/*Option 1*/
/*
.Cards {
  position: relative;

  width: 100%;
}
*/
/*Option 2*/

.Cards {
  position: absolute;

  width: 100%;
  height: 100%;

  border: 2px solid red;
}

.astronaut-container {
  position: relative;

  width: 100%;

  /*border: 1px solid chartreuse;*/
}

.AstroImage {
  position: absolute;
  top: 0px;

  width: 99%;
  height: 100%;

  z-index: 99;

  background-image: url("../Images/Astronauts/SamanthaCristoforetti.jpg");
  background-position: 65% center;
  background-repeat: no-repeat;
  background-size: cover;
}

.CardCrop {
  clip-path: polygon(
    /*Top Left Corner*/ 4.5% 3%,
    /*Bottom Left Corner*/ 4.5% 85%,
    /*Bottom Right Corner*/ 96.5% 85%,
    /*Right Edge Cut*/ 96.5% 19.2%,
    /*Left Edge Cut*/ 73.2% 3% /* Polygon closes automatically. */
  );
}

.CardCrop2 {
  clip-path: polygon(
    /*Top Left Corner*/ 2.5% 1.5%,
    /*Bottom Left Corner*/ 2.5% 85%,
    /*Bottom Right Corner*/ 98.5% 85%,
    /*Right Edge Cut*/ 98.5% 24%,
    /*Left Edge Cut*/ 69.5% 1.5% /* Polygon closes automatically. */
  );
}

.CardCrop3 {
  clip-path: polygon(
    /*Top Left Corner*/ 2.5% 1.5%,
    /*Bottom Left Corner*/ 2.5% 86%,
    /*Bottom Right Corner*/ 98.5% 86%,
    /*Right Edge Cut*/ 98.5% 24.5%,
    /*Left Edge Cut*/ 67% 1.5% /* Polygon closes automatically. */
  );
}

.CardCrop4 {
  clip-path: polygon(
    /*Top Left Corner*/ 2.5% 1.5%,
    /*Bottom Left Corner*/ 2.5% 87%,
    /*Bottom Right Corner*/ 98.5% 87%,
    /*Right Edge Cut*/ 98.5% 24%,
    /*Left Edge Cut*/ 64.5% 1.5% /* Polygon closes automatically. */
  );
}

.AstronautName {
  position: absolute;
  bottom: 0px;
  width: 99%;
  height: 15%;

  padding-top: 2%;
  z-index: 100;

  font-size: 1.3vw;

  text-align: center;
  color: white;
}
